<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Editor</h3>
        </div>
        <div class="panel-body">
            <div id="editor">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="log">
    </div>
</div>
<button type="submit" class="runCode">Run</button>
<button type="submit" class="runCode">Clear Console</button>

<script src="/javascripts/editor.js"></script>
