<div class="editorContain">
    <div id="editor">
    </div>
    <div class="log">
    </div>

</div>
<div class="runLinks">
    <a href="#" class="codeEditorBtn">Run</a>
    <a href="#" class="codeEditorBtn">Clear Console</a>
    <a href="/" class="codeEditorBtn home">Home</a>
</div>




<script src="/javascripts/editor.js"></script>
