<h1>Register</h1>
<form action="/register" method="post">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <button type="submit">Submit</button>
    <a href="/"><button type="button">Cancel</button></a>
</form>

<h4>{{info}}</h4>
