<div class="wControl">
    <input class="bColor" type="color">
    <input class="bWidth" type="range" min="1" max="30" value="5">
</div>
<div class="wContain">
    <canvas id="whiteboard" width="1000" height="800">
    </canvas>
    <div class="runLinks">
        <a href="#" class="codeEditorBtn">Save Snapshot</a>
        <a href="/" class="codeEditorBtn home">Home</a>
    </div>
</div>


<script src="javascripts/draw.js"></script>
